.contacts{
    width: Hug (1,110px);
    height: Hug (1,944px);
    padding-bottom: 25px;
    .container{
        width: Fill (825px);
        height: Hug (1,944px);
        h1{
            font-family: Cormorant Garamond;
            font-size: 36px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: left;
            padding-bottom: 50px;
        }
        .can{
            width: Fill (825px);
            height: Hug (1,268px);
            .po{
                padding-bottom: 10px;
                font-family: Rubik;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                padding-top: 80px;
            }
            .pa{
                font-family: Rubik;
                font-size: 17px;
                font-weight: 300;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
            }
            .pq{
                font-family: Rubik;
                font-size: 17px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                padding-bottom: 18px;
            }
            .contact__buttons{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding-bottom: 15px;
                .contact-buttons__option {
                    background: rgba(75, 180, 94, .1);
                    display: flex;
                    align-items: center;
                    border-radius: 5px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    color: #4bb45e;
                    flex: 1;
                    height: 30px;
                    a{
                        padding-left: 580px;
                    }
                }
            }
        }
    }
}