.container{
    width: 100%;
    width: Fixed (1,110px);
    height: Hug (905px);
    justify-content: space-between;
    .crumbs{
        padding-top: 20px;
        .breadcrumbs {
            display: flex;
            align-items: center;
        }
    }
    .product__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 35px;
        padding-bottom: 50px;
        .product__left{
            width: Hug (600px);
            height: Hug (598px);
            img{
                width: 600px;
                height: 598px;
                border-radius: 1px;
            }
        }
        .product__right {
            .product__right-upper {
                display: flex;
                flex-direction: column;
                .title{
                    margin: 0;
                    font-family: "Roboto", serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 38px;
                    line-height: 46px;
                    text-transform: uppercase;
                    color: #444;
                    padding-bottom: 20px;
                }
                .price{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 42px;
                    line-height: 50px;
                    color: #4bb45e;
                    padding-bottom: 20px;
                }
            }
            .product-options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                border-bottom: 2px solid rgba(229, 229, 229, 1);
                width: Hug (410px);
                height: Hug (44px);
                padding-bottom: 20px;
                gap: 50px;
                .counter{
                    border: 1px solid #e6e6e6;
                    border-radius: 6px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    border: 1px solid rgba(230, 230, 230, 1);
                    h1{
                        border-left: 1px solid #e6e6e6;
                        border-right: 1px solid #e6e6e6;
                        width: 63px;
                        height: 42px;
                        font-size: 26px;
                        line-height: 42px;
                        text-align: center;
                        color: #444;
                    }
                }
                .counter-btn {
                    width: 44px;
                    height: 42px;
                    font-size: 24px;
                    line-height: 24px;
                    font-weight: 300;
                    border: 1px solid rgba(229, 229, 229, 1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    color: #4bb45e;
                }
                .basket-btn {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 200%;
                    width: 153px;
                    height: 44px;
                    color: #fff;
                    background: #4bb45e;
                    border: 1px solid rgba(229, 229, 229, 1);
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Roboto, sans-serif;
                }
                .fav-btn {
                    width: 44px;
                    height: 44px;
                    position: relative;
                    top: auto;
                    right: auto;
                    background: #f55;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid rgba(229, 229, 229, 1);
                    svg {
                        width: 24px;
                        height: 22px;
                        * {
                            stroke: #fff;
                            fill: #f55;
                        }
                    }
                }
            }
            .product__buttons{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding-bottom: 30px;
                border-bottom: 2px solid rgba(229, 229, 229, 1);
                padding-top: 30px;
                .product-buttons__option {
                    background: rgba(75, 180, 94, .1);
                    border-radius: 5px;
                    padding: 8px;
                    text-align: center;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 120%;
                    color: #4bb45e;
                    transition: .3s ease-out;
                    flex: 1;
                }
            }
            .product__item-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            span {
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #444;
            }
            .product__payment {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                gap: 20;
                .product__payment-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 18px;
                    color: #444;
                    white-space: nowrap;
                    margin: 10px;
                    .product__payment-item-img {
                        width: 30px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
            }
        }
    }
    .why {
        padding: 0 0 60px;
        h2 {
            margin: 0;
            font-weight: 700;
            font-size: 30px;
            line-height: 44px;
            text-align: center;
            text-transform: uppercase;
            color: #444;
            font-family: "Roboto", serif;
        }
        .why__wrap {
            display: flex;
            flex-wrap: wrap;
            margin: 40px 0 0;
            padding: 40px;
            border: 1px solid rgba(0, 0, 0, .1);
            border-radius: 10px;
            gap: 30px;
            .why__item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex: 1;
                p {
                    width: calc(100% - 86px);
                    padding-left: 20px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 30px;
                    color: #444;
                }
                .why__item-img {
                    width: 86px;
                    height: 86px;
                }
            }
        }        
    }
}